.banner {
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  padding: 50px;

  .title-l {
    margin: 20px 0  12px 0;
  }

  .title-s {
    color: #454D54;
  }
}

.subscription-banner {
  .title-s {
    margin: 0;
    span {
      text-decoration: underline;
    }
  }

  .list-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .list-wrap {
    margin-top: 20px;
  }

  .title-m {
   font-weight: 700;
  }

  .grow-wrap {
    margin-top: 50px;
  }
}
