.banner {
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  padding: 50px;

  .title-l {
    margin: 20px 0  12px 0;
  }

  .title-s {
    color: #454D54;
  }
}

.subscription-banner {
  padding: 30px;

  &-title {
    max-width: 200px;
  }

  .title-l {
    margin-bottom: 0;
  }

  .title-s {
    span {
      text-decoration: underline;
    }
  }


  .title-m {
   font-weight: 700;
  }

  .grow-wrap {
    margin-top: 30px;
  }
}
