.virtual-filter {
  background-color: #F1F5F9;
  padding-top: 80px;

  .filter-content {
    padding: 30px 0 40px 0;
  }
}


.boughtTours-wrap {
  padding: 0 0 120px 0;

  .virtual-wrap {
    position: static;
  }
}

.boughtTours-advertisement {
  background-color: #F1F5F9;

  .advertisement-ghost {
    top: -20px;
  }
}
