.error-line {
  color: #981B1B;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  padding: 12px 12px 12px 38px;
  position: relative;
  border-radius: 8px;
  background-color: #FEF2F2;
  margin: 30px 40px -10px 40px;
  display: none;

  &:after {
    content: url("../assets/icons/ic-form-error.png");
    position: absolute;
    top: 12px;
    left: 12px;
  }
}

.error-validated {
  .error-line {
    display: block;
  }
}

