.error-line {
  color: #981B1B;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  padding: 12px;
  position: relative;
  border-radius: 8px;
  background-color: #FEF2F2;
  margin: 30px 40px -10px 40px;
  display: none;

}

.error-validated {
  .error-line {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
}

