@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");
html, body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, ol, ul, li {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.title-xs {
  font-size: 14px;
  letter-spacing: -0.26px;
  line-height: 20px;
}

.title-s {
  color: #05132E;
  font-size: 16px;
  letter-spacing: -0.3px;
  line-height: 24px;
  font-weight: 500;
}

.title-m {
  color: #05132E;
  font-size: 18px;
  letter-spacing: -0.4px;
  line-height: 28px;
}

.title-l {
  color: #05132E;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 31px;
}

.title-xl {
  color: #05132E;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -0.55px;
  line-height: 44px;
}

.title-xxl {
  color: #10172A;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 64px;
}

.btn-s, .btn-m, .btn-l, .btn-s-gold, .btn-m-gold, .btn-l-gold, .btn-s-ghost, .btn-m-ghost, .btn-l-ghost {
  background-color: #4F2384;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 20px;
  text-align: center;
  border-radius: 8px;
  border: none;
}
.btn-s svg, .btn-m svg, .btn-l svg, .btn-s-gold svg, .btn-m-gold svg, .btn-l-gold svg, .btn-s-ghost svg, .btn-m-ghost svg, .btn-l-ghost svg {
  margin-right: 6px;
}

.btn-s, .btn-s-gold, .btn-s-ghost {
  padding: 10px 16px;
}

.btn-m, .btn-m-gold, .btn-m-ghost {
  padding: 15px 26px;
}

.btn-l, .btn-l-gold, .btn-l-ghost {
  width: 100%;
  padding: 15px 26px;
}

.btn-s-gold, .btn-m-gold, .btn-l-gold {
  color: #10172A;
  background-color: #FFD000;
}

.btn-s-ghost, .btn-m-ghost, .btn-l-ghost {
  color: #10172A;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 1px rgba(82, 102, 122, 0.1), 0 2px 2px 0 rgba(209, 213, 219, 0.2);
}

.section-title {
  max-width: 580px;
}
.section-title .title-s {
  color: #4F2384;
  text-transform: uppercase;
}
.section-title .title-xxl {
  margin-top: 24px;
}

.grow-wrap {
  display: flex;
  align-items: flex-end;
  flex-grow: 2;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.list li {
  color: #05132E;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 24px;
  padding-left: 32px;
  position: relative;
  display: flex;
  align-items: center;
}
.list li:after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
  content: url("../assets/icons/ic-check-circle.svg");
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 20px;
  background-color: #F1F5F9;
}
.header-list {
  display: flex;
  align-content: center;
  column-gap: 40px;
}
.header-wrap {
  display: flex;
  align-content: center;
  column-gap: 6px;
}
.header-wrap button {
  font-weight: 600;
}

.section-one {
  background-color: #F1F5F9;
  display: flex;
  align-items: center;
  max-width: 100%;
  padding-top: 40px;
}
.section-one .container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.section-one-content {
  padding: 63px 0 120px 0;
}
.section-one .title-m {
  margin-top: 24px;
}
.section-one .btn-m {
  margin-top: 50px;
}
.section-one-img {
  height: auto;
  width: 50%;
  max-width: 1100px;
  bottom: 0;
  position: relative;
  max-height: 670px;
}
.section-one-img img {
  position: absolute;
  height: 100%;
  bottom: -5px;
  z-index: 10;
}

.section-two {
  padding: 40px 0;
  background-color: #4F2384;
}
.section-two-wrap {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.section-two-wrap-item {
  width: calc(25% - 15px);
  padding: 30px 30px 28px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  text-align: center;
}
.section-two-wrap-item svg {
  margin-bottom: 12px;
}
.section-two-wrap-item .title-s {
  color: #FFFFFF;
}
.section-two-wrap-item .title-xs {
  color: #FFFFFF;
  opacity: 0.6;
}

.section-three {
  padding: 120px 0 105px 0;
}
.section-three .section-title {
  text-align: center;
  margin: 0 auto;
}
.section-three-wrap {
  margin-top: 60px;
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}
.section-three-wrap .banner {
  width: calc(33.33333% - 14px);
  display: flex;
  flex-direction: column;
}
.section-three-wrap .banner .title-l {
  margin-top: 20px;
}
.section-three-wrap .banner .title-s {
  margin-top: 12px;
}
.section-three-wrap .banner .list {
  margin-top: 18px;
}
.section-three-wrap .banner .btn-l {
  margin-top: 34px;
}

.section-four {
  padding: 120px 0;
  position: relative;
}
.section-four:after {
  position: absolute;
  content: "";
  background: linear-gradient(180deg, #F1F5F9 0%, #FFFFFF 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 560px;
  z-index: -1;
  pointer-events: none;
}
.section-four .section-title {
  text-align: center;
  margin: 0 auto;
}
.section-four-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 60px;
}
.section-four-wrap .banner {
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
}
.section-four-wrap .banner .title-l {
  margin: 20px 0 12px 0;
}
.section-four-wrap .banner-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: relative;
}
.section-four-wrap .banner-content-item {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 18px;
}
.section-four-wrap .banner-content-item-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  margin-left: 9px;
}
.section-four-wrap .banner-content-item-wrap-title {
  color: #E3E6E8;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 24px;
}
.section-four-wrap .banner-content-item-wrap-content {
  opacity: 0.6;
  color: #FFFFFF;
  font-size: 9px;
  letter-spacing: -0.4px;
  line-height: 14px;
  display: flex;
  column-gap: 6px;
}
.section-four-wrap .banner-content:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50px;
  right: 50px;
  width: calc(100% + 100px);
  height: 100px;
  border-radius: 0 0 8px 8px;
  background: linear-gradient(180deg, rgba(7, 12, 20, 0) 0%, #040911 100%);
}
.section-four-wrap .banner-img {
  margin-top: 30px;
  bottom: -100px;
  height: 140px;
}
.section-four-wrap .banner-img img {
  position: absolute;
  left: 0;
  max-width: 100%;
  object-fit: cover;
}
.section-four-wrap .banner:nth-child(1) {
  width: 66.1%;
}
.section-four-wrap .banner:nth-child(2) {
  width: 32.2%;
}
.section-four-wrap .banner:nth-child(3) {
  width: 32.2%;
  background-color: #F1F5F9;
}
.section-four-wrap .banner:nth-child(4) {
  width: 66.1%;
  background-color: #F1F5F9;
}
.section-four-wrap .banner:nth-child(5) {
  width: calc(33.3333% - 14px);
  background-color: #10172A;
}
.section-four-wrap .banner:nth-child(5) * {
  color: #FFFFFF;
}
.section-four-wrap .banner:nth-child(6) {
  width: calc(33.3333% - 14px);
  background-color: #454D54;
}
.section-four-wrap .banner:nth-child(6) * {
  color: #FFFFFF;
}
.section-four-wrap .banner:nth-child(6) .banner-img img {
  left: 20px;
}
.section-four-wrap .banner:nth-child(7) {
  width: calc(33.3333% - 14px);
  background-color: #4F2384;
}
.section-four-wrap .banner:nth-child(7) * {
  color: #FFFFFF;
}
.section-four-wrap .banner:nth-child(7) .banner-img img {
  left: 20px;
}
.section-four-wrap .banner:after {
  position: absolute;
  content: "";
  background: linear-gradient(225.3deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  pointer-events: none;
}
.section-four-wrap .banner .btn-m {
  margin-top: 47px;
}

.section-five {
  padding: 0 0 120px 0;
}
.section-five .container {
  display: flex;
  justify-content: space-between;
}
.section-five .section-title .title-xxl span {
  color: #4F2384;
  position: relative;
}
.section-five .section-title .title-xxl span span:after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
  height: 5px;
  display: block;
  background-color: #FFFFFF;
  border-radius: 80% 80% 0 0;
  z-index: 10;
}
.section-five .section-title .title-xxl span:after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
  height: 9px;
  display: block;
  background-color: #4F2384;
  border-radius: 50% 50% 0 0;
}
.section-five-content {
  width: 49.1%;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.section-five .banner {
  width: 40.7%;
  background-color: #F1F5F9;
  border: none;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.section-five .banner-item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section-five .banner-item .switch-field {
  display: flex;
  column-gap: 4px;
}
.section-five .banner-item .switch-field label {
  width: calc(33.333% - 4px);
}
.section-five .banner-item-inputs {
  display: flex;
  align-items: center;
}
.section-five .banner-data {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.section-five .banner-data-item {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.section-five .banner-data-item .title-s {
  color: #454D54;
  font-weight: 500;
}
.section-five .banner-data-item .price {
  color: #10172A;
}
.section-five .banner-result {
  display: flex;
  justify-content: space-between;
}
.section-five .banner-result .title-l {
  color: #454D54;
  font-weight: 500;
}
.section-five .banner-result .price {
  color: #4F2384;
  font-weight: bold;
}

.section-six {
  padding: 120px 0;
  position: relative;
}
.section-six:after {
  position: absolute;
  content: "";
  background: linear-gradient(180deg, #F1F5F9 0%, #FFFFFF 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 560px;
  z-index: -1;
  pointer-events: none;
}
.section-six-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-six-wrap-content .title-m {
  margin: 24px 0 50px 0;
  max-width: 580px;
}
.section-six-wrap img {
  max-width: 310px;
  max-height: 618px;
}
.section-six-wraps {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 122px;
}
.section-six-wraps .banner {
  width: calc(33.33333% - 14px);
  background-color: #F1F5F9;
}
.section-six .advertisement {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1180px;
}

.section-seven {
  background-color: #F1F5F9;
  padding: 220px 0 120px 0;
}
.section-seven .container {
  display: flex;
  justify-content: space-between;
}
.section-seven-wrap {
  width: 32.2%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.section-seven-wrap-content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.section-seven-wrap-content-item {
  position: relative;
  display: flex;
  border: none;
  background-color: transparent;
  flex-direction: column;
}
.section-seven-wrap-content-item .title-m {
  display: inline-block;
  padding-left: 36px;
}
.section-seven-wrap-content-item .title-s {
  color: #454D54;
  margin-top: 8px;
  padding-left: 36px;
  display: none;
}
.section-seven-window {
  width: 57.6%;
}
.section-seven-window-wrap {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.section-seven-window-wrap-header {
  width: 100%;
  padding: 7px 16px;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EFEFF1;
  justify-content: space-between;
}
.section-seven-window-wrap-header-dots {
  display: flex;
  column-gap: 6px;
}
.section-seven-window-wrap-header-dots .dot {
  height: 8px;
  width: 8px;
  background-color: #D1D5DB;
  border-radius: 50%;
}
.section-seven-window-wrap-header-wrap {
  width: calc(50% + 103px);
  display: flex;
}
.section-seven-window-wrap-header-wrap-panel {
  height: 26px;
  width: 206px;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  background-color: #F1F5F9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-seven-window-wrap-header-wrap-panel .title-xs {
  color: #8D949A;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 14px;
}
.banner {
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  padding: 50px;
}
.banner .title-l {
  margin: 20px 0 12px 0;
}
.banner .title-s {
  color: #454D54;
}

.advertisement {
  padding: 65px 70px;
  display: flex;
  background-color: #1F0E34;
  border-radius: 8px;
  margin-top: 20px;
  align-items: center;
  position: relative;
}
.advertisement:after {
  position: absolute;
  content: "";
  background: linear-gradient(225.3deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  pointer-events: none;
}
.advertisement .title-l, .advertisement .title-s {
  color: #FFFFFF;
}
.advertisement .title-s {
  opacity: 0.7;
}
.advertisement svg {
  margin-right: 30px;
}
.advertisement-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  flex-grow: 1;
}

.input {
  padding: 10px 16px;
  color: #10172A;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 20px;
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(209, 213, 219, 0.2);
  outline: none;
}
.input::placeholder {
  color: #454D54;
  font-size: 14px;
  letter-spacing: -0.3px;
  line-height: 20px;
}

.input-wrap {
  position: relative;
}
.input-wrap span {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}
.input-wrap .input {
  width: 100%;
  padding-right: 32px;
}

.input-wrap-label .title-xs {
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 22px;
}
.input-wrap-label .input-wrap {
  margin-top: 6px;
}

.required .title-xs {
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 22px;
  position: relative;
  display: inline-block;
}
.required .title-xs:after {
  content: "*";
  position: absolute;
  right: -10px;
  top: 0;
  color: #B8143D;
}

.checkbox {
  display: flex;
}
.checkbox .styled-checkbox {
  position: absolute;
  opacity: 0;
}
.checkbox .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  color: #10172A;
  font-size: 14px;
  font-weight: 500;
}
.checkbox .styled-checkbox + label a {
  color: #4F2384;
  text-decoration: underline;
}
.checkbox .styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  margin-top: -2px;
  display: inline-block;
  vertical-align: text-top;
  height: 22px;
  width: 22px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #D1D5DB;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}
.checkbox .styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.checkbox .styled-checkbox:checked + label:before {
  background: #FFD000;
}
.checkbox .styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.checkbox .styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.checkbox .styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 12px;
  background: #1F0E34;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #1F0E34, 4px 0 0 #1F0E34, 4px -2px 0 #1F0E34, 4px -4px 0 #1F0E34, 4px -6px 0 #1F0E34, 4px -8px 0 #1F0E34;
  transform: rotate(45deg);
}

.required .styled-checkbox + label {
  position: relative;
}
.required .styled-checkbox + label:after {
  position: relative;
  content: "*";
  right: -3px;
  top: 0;
  color: #B8143D;
}

.switch-field {
  display: flex;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #FFFFFF;
  padding: 10px 16px;
  border: 1px solid #D1D5DB;
  transition: all 0.1s ease-in-out;
  color: #10172A;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 20px;
  text-align: center;
  border-radius: 8px;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  box-shadow: none;
  color: #4F2384;
  border: 1px solid #4F2384;
}

.circular {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 4px;
  left: 3px;
  transform: scale(1.2);
  display: none;
}

.circular .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  margin: -8px 0 0 -8px;
  background: #F1F5F9;
  border-radius: 100%;
}

.circular .numb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 8px;
  font-weight: 500;
}

.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #D2D6DC;
  -webkit-border-radius: 100%;
  clip: rect(0px, 20px, 20px, 10px);
}

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 10px, 20px, 0px);
  background: #3A0E7B;
}

.circle .left .progress {
  z-index: 1;
  animation: left var(--animation-duration) linear both;
}

@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}
.circle .right {
  z-index: 3;
  transform: rotate(180deg);
}

.circle .right .progress {
  animation: right var(--animation-duration) linear both;
  animation-delay: var(--animation-duration);
}

@keyframes right {
  100% {
    transform: rotate(180deg);
  }
}
.tab {
  display: none;
}

.tab.active {
  display: block;
}

.tab-button {
  border: none;
  cursor: pointer;
  position: relative;
}
.tab-button .title-m:after {
  content: url("../assets/icons/ic-arrow-right-circle.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 24px;
  width: 24px;
}

.tab-button.active .title-m {
  color: #3A0E7B;
}
.tab-button.active .title-m:after {
  content: none;
}
.tab-button.active .circular {
  display: block;
}
.tab-button.active .title-s {
  display: block;
}

.page-title {
  padding: 50px 0 63px 0;
  background: #200F35;
  text-align: center;
  position: relative;
}
.page-title:after {
  position: absolute;
  content: "";
  opacity: 0.15;
  background: linear-gradient(225.3deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.page-title .title-l {
  color: #FFFFFF;
}

.footer {
  background-color: #1F0E34;
}
.footer-top {
  padding: 100px 0;
}
.footer-top-wrap {
  display: flex;
  justify-content: space-between;
}
.footer-top-wrap .banner {
  width: 32.2%;
  position: relative;
  background-color: #4F2384;
  border: none;
}
.footer-top-wrap .banner .title-l {
  margin: 0;
  color: #FFFFFF;
}
.footer-top-wrap .banner .title-l:first-child {
  opacity: 0.6;
  margin-bottom: 6px;
}
.footer-top-wrap .banner .btn-m-gold {
  margin-top: 24px;
}
.footer-top-wrap .banner:after {
  position: absolute;
  content: "";
  background: linear-gradient(225.3deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.footer-top-wrap-menu {
  width: 61.9%;
  display: flex;
  column-gap: 20px;
}
.footer-top-wrap-menu ul {
  width: calc(33.333333% - 14px);
}
.footer-top-wrap-menu ul li {
  color: #FFFFFF;
  margin-top: 14px;
}
.footer-top-wrap-menu ul li:first-child {
  margin-top: 0;
  margin-bottom: 24px;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-top-wrap-menu ul li a {
  opacity: 0.6;
  color: #FFFFFF;
}
.footer-top-wrap:first-child {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-top-wrap-content {
  width: 49.1%;
}
.footer-top-wrap-content * {
  color: #FFFFFF;
}
.footer-top-wrap-content .title-s {
  margin-top: 15px;
  opacity: 0.5;
}
.footer-top-wrap-form {
  width: 38.9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-top-wrap-form-item {
  display: flex;
  column-gap: 6px;
}
.footer-top-wrap-form-item .input {
  color: #FFFFFF;
  padding: 15px 25px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  display: flex;
  flex-grow: 2;
}
.footer-top-wrap-form-item .input::placeholder {
  color: #FFFFFF;
}
.footer-top-wrap-form-item .checkbox {
  margin-top: 10px;
}
.footer-top-wrap-form-item .checkbox .title-s {
  color: rgba(241, 245, 249, 0.5);
}
.footer-bottom {
  padding: 20px 0;
  position: relative;
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}
.footer-bottom .title-xs {
  color: #A9A2B1;
}
.footer-bottom:after {
  position: absolute;
  content: "";
  background: linear-gradient(225.3deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  opacity: 0.15;
  pointer-events: none;
}
.footer-small {
  background-color: #F1F5F9;
}

.auth {
  background-color: #F1F5F9;
  padding: 0 0 126px 0;
}
.auth .container {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.auth-form {
  position: relative;
  width: calc(50% - 10px);
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 1px rgba(16, 23, 42, 0.14), 0 2px 2px 0 rgba(209, 213, 219, 0.2);
  top: -20px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.auth-form .title-l {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: 25px;
  padding: 45px 40px 30px 40px;
}
.auth-form-social {
  padding: 25px 40px;
  background-color: #F1F5F9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.auth-form-social .title-s {
  max-width: 157px;
}
.auth-form-social-wrap {
  display: flex;
  column-gap: 10px;
}
.auth-form-social-wrap .btn {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 9px 23px;
  min-width: 150px;
  justify-content: center;
}
.auth-form-social-wrap .btn:first-child {
  background-color: #1877F2;
  color: #FFFFFF;
}
.auth-form-social-wrap .btn:last-child {
  background-color: #FFFFFF;
  color: #757575;
  border: 1px solid #D1D5DB;
}
.auth-form-social-wrap .btn svg {
  margin-right: 10px;
}
.auth-form-content {
  padding: 30px 40px 40px 40px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 16px;
}
.auth-form-content .input-wrap-label {
  width: calc(50% - 5px);
}
.auth-form-content .checkbox {
  margin-top: 8px;
}
.auth-form-content .btn-l {
  margin-top: 14px;
}
.auth-form:last-child .btn-l {
  background-color: #10172A;
}

/*# sourceMappingURL=main.css.map */
