.object {
  background-color: #F2F5F9;
  padding-bottom: 120px;
  &-content {
    width: 100%;
    position: relative;
    top: -20px;

    &-not {
      background-color: #FFFFFF;
      border-radius: 8px;
      padding: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-wrap {
      display: flex;
      column-gap: 20px;
      row-gap: 20px;
      flex-wrap: wrap;
      .banner {
        width: calc(33.33333% - 20px);
        background-color: #FFFFFF;
        &-content {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          &-wrap {
            &-item {
              display: flex;
              justify-content: space-between;
              column-gap: 10px;

              p {
                &:last-child {
                  font-weight: bold;
                }
              }
            }
          }
        }

        .btn-l-gold {
          margin-top: 20px;
        }
      }
    }



  }

  &-form {
    width: 70%;
    background-color: #FFFFFF;
    border-radius: 8px;
    position: relative;
    top: -20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .switch-field {
      width: 100%;
      display: flex;
      column-gap: 10px;

      label {
        width: 100%;
      }
    }

    .switch-collection {
      column-gap: 4px;
     label {
       width: unset;
     }
    }

    &-item {
      &-content {
        display: flex;
        column-gap: 20px;
        row-gap: 10px;
        flex-wrap: wrap;
        margin-top: 10px;

        .input-wrap-label {
          width: calc(50% - 10px);
        }

        .full {
          width: 100%;
        }
      }
    }
  }
}
