.page {
  &-title {
    padding: 50px 0 50px 0;
    background: #200F35;
    //text-align: center;
    position: relative;

    //.container {
    //  display: flex;
    //  align-items: center;
    //  justify-content: space-between;
    //}

    &-center {
      text-align: center;
    }

    &:after {
      position: absolute;
      content: "";
      opacity: 0.15;
      background: linear-gradient(225.3deg, #FFFFFF 0%, rgba(255,255,255,0) 100%);
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
    }

    .title-l {
      color: #FFFFFF;

      span {
        font-weight: 400;
      }
    }

    .title-xs {
      opacity: 0.6;
      color: #FFFFFF;
      margin-top: 12px;
    }


    .filter-content {
      margin-top: 20px;
    }

    &-column {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-wrap {
        align-items: flex-start;
        flex-direction: column;
        //max-width: 70%;
        width: 100%;

        .title-s {
          margin-top: 10px;
          color: #FFFFFF;
          opacity: 0.6;
        }

        &-title {
          display: flex;
          .back {
            display: block;
            text-align: center;
            border: none;
            height: 30px;
            width: 30px;
            border-radius: 8px;
            //background-color: rgba(255,255,255,0.1);
            background-color: transparent;
            margin-right: 15px;
            padding: 0;
          }
        }
      }
    }

  }
}


@media (max-width: 650px) {
  .page {
    &-title {
        &-column {
          flex-direction: column;
          row-gap: 10px;
          align-items: flex-start;
        }

    }
  }
}

//@media (max-width: 435px) {
//  .page {
//    &-title {
//
//      &-column {
//
//        &-wrap {
//          .filter-content {
//            &-wrap {
//              .banner-item {
//                overflow: auto;
//                .switch-field {
//                }
//              }
//            }
//          }
//        }
//      }
//
//    }
//  }
//}

