@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

p,h1,h2,h3,h4,h5,h6,ol,ul,li {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}


.title-xs , .link-tag{
  font-size: 14px;
  letter-spacing: -0.26px;
  line-height: 20px;
}


.title-s, .link {
  color: #05132E;
  font-size: 16px;
  letter-spacing: -0.3px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;


}

.title-m {
  color: #05132E;
  font-size: 18px;
  letter-spacing: -0.4px;
  line-height: 28px;
}

.title-l {
  color: #05132E;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 31px;
}

.title-xl {
  color: #05132E;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -0.55px;
  line-height: 44px;
}

.title-xxl {
  color: #10172A;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 64px;
}

.btn-s, .btn-m, .btn-l, .btn-s-gold, .btn-m-gold, .btn-l-gold, .btn-s-ghost, .btn-m-ghost, .btn-l-ghost, .btn-s-light, .btn-m-light, .btn-l-light {
  background-color: #4F2384;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 20px;
  text-align: center;
  border-radius: 8px;
  border: none;
  transition: all 0.3s;
  display: inline-block;

  svg {
    margin-right: 6px;
  }
}

.btn-s, .btn-s-gold, .btn-s-ghost, .btn-s-light, {
  padding: 10px 16px;
}

.btn-m, .btn-m-gold, .btn-m-ghost, .btn-m-light,{
  padding: 15px 26px;
}

.btn-l, .btn-l-gold, .btn-l-ghost, .btn-l-light, {
  width: 100%;
  padding: 15px 26px;
}

.btn-s-gold, .btn-m-gold, .btn-l-gold  {
  color: #10172A;
  background-color: #FFD000;
}

.btn-s, .btn-m, .btn-l {
  &:hover {
    background-color: #682EAD;
    color: #FFFFFF;
  }
}

.btn-s-gold, .btn-m-gold, .btn-l-gold {
  &:hover {
    background-color: #FFD933;
  }
}

.btn-s-ghost, .btn-m-ghost, .btn-l-ghost {
  color: #10172A;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 1px rgba(82,102,122,0.1), 0 2px 2px 0 rgba(209,213,219,0.2);

  &:hover {
    box-shadow: 0 0 0 1px rgba(82,102,122,0.3), 0 2px 2px 0 rgba(209,213,219,0.2);
  }
}


.btn-s-light, .btn-m-light, .btn-l-light {
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #F1F5F9;
  color: #454D54;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 20px;

  &:hover {
    background-color: #fcfcff;
  }
}


.section-title {
  max-width: 580px;
  .title-s {
    color: #4F2384;
    text-transform: uppercase;
  }

  .title-xxl {
    margin-top: 24px;
  }
}

.grow-wrap {
  display: flex;
  //align-items: flex-start;
  justify-content: flex-end;
  flex-grow: 2;
  row-gap: 10px;
  flex-direction: column;

  .btn-l-light {
    padding: 15px 26px;
  }
}


.list {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  li {
    color: #05132E;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 24px;
    padding-left: 32px;
    position: relative;
    display: flex;
    align-items: center;

    &:after {
      position: absolute;
      left: 0;
      top: 50%;
      height: 20px;
      width: 20px;
      transform: translateY(-50%);
      content: url("../assets/icons/ic-check-circle.svg");
    }
  }

  &-wrap_item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .title-m {
      font-weight: bold;
    }
  }
}

.system-main {
  background-color: rgb(241, 245, 249);
  min-height: 100vh;
}

.avatar {
  background-color: #200F35;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  min-width: 40px;
  letter-spacing: -0.3px;
  line-height: 17px;
  text-align: center;
  border-radius: 8px;
}

.absolute-wrap {
  width: 100%;
  position: relative;
  top: -20px;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(16,23,42,0.14), 0 2px 2px 0 rgba(209,213,219,0.2);
  background-color: #F2F5F9;



  &-left {
    width: 67.8%;
    background-color: #FFFFFF;
    border-radius: 8px 0 0 8px;
  }

  &-right {
    width: 32.2%;
    padding: 30px;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
}

.link-tag {
  color: #4F2384;
}


.quote {
  color: #454D54;
  font-size: 16px;
  letter-spacing: -0.3px;
  line-height: 24px;
  padding-left: 20px;

  position: relative;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    background-color: #4F2384;

  }
}


@media (max-width: 775px) {
  .system-main {
    .absolute-wrap  {
      flex-direction: column;

      &-left {
        width: 100%;
      }

      &-right {
        width: 100%;
      }
    }
  }
}
