.filter-content {
  display: flex;
  column-gap: 30px;

  &-wrap {
    .banner-item {

      .title-s {
        color: #FFFFFF;
      }

      .switch-field {
        margin-top: 12px;
        column-gap: 4px;

        label {
          border-radius: 5px;
        }

        input:checked + label {
          background-color: #FFD000;
          border: 1px solid #FFD000;
        }
      }
    }
  }
}


.filter-content-dark {
  .filter-content-wrap {
    .title-s {
      color: #454D54;
    }

    .switch-field {
      label {
        color: #454D54;
        border-radius: 8px;
        height: 40px;
      }

      input:checked + label {
        color: #FFFFFF;
        background-color: #05132E;
        border: 1px solid #05132E;
      }
    }
  }
}


@media (max-width: 800px) {
  .filter-content {
    flex-direction: column;
    row-gap: 20px;

    .switch-field {
      max-width: 700px;
      overflow-x: auto;
    }
  }
}

